<div class="page-header">
    <h1>{{main.username}}'s Profile</h1>
</div>

<div class="panel panel-info" style = " border : 1px solid blue;">
    <div class="panel-heading" style = "text-align : center;"><strong>User Profile</strong></div>
<table class="table">
    <tr>
        <td><strong>Username</strong></td>
        <td>{{main.username}}</td>
    </tr>
    <tr>
        <td><strong>Password</strong></td>
        <td>********</td>
    </tr>
    <tr>
        <td><strong>Firstname</strong></td>
        <td>{{main.userfirstname}}</td>
    </tr>
    <tr>
        <td><strong>Lastname</strong></td> 
        <td>{{main.userlastname}}</td>
    </tr>
    <tr>
        <td><strong>Email </strong></td>
        <td>{{main.useremail}}</td>
    </tr>
    <tr>
        <td><strong>Phone</strong></td>
        <td>{{main.userPhone}}</td>
    </tr>
    <tr>
    
        <td><strong>Location</strong></td>
        <td>{{main.userlocation}}</td>
    </tr>
    
</table>
</div>